:root {
  --main-bg-color: #d8dfe0;
  --canvas-bg-color: white;
  --toolbar-bg-color: white;
  --picker-blue-color: #4285f4;
  --picker-red-color: #ea4335;
  --picker-yellow-color: #fbbc05;
  --picker-green-color: #34a853;
  --ggs: 0.8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#drawer {
  flex: 1;
  flex-grow: 1;
  width: 100%;
  border-radius: 5px;
  background-color: var(--canvas-bg-color);
}

#tool-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  border-radius: 5px;
  background-color: var(--toolbar-bg-color);
}

/* Color picker */
#color-picker {
  display: flex;
  align-items: center;
}

#color-picker [type="radio"] {
  display: none;
}
#color-picker label {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  animation-delay: 0s;
}

#color-picker label:before {
  position: absolute;
  top: 50%;
  left: 50%;
}

#color-picker label:before {
  content: "";
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 0 0.8vw 0,
    rgba(0, 0, 0, 0.239216) 0 0.8vw 0.8vw 0;
  transition: all 0.2s;
  transform: translateX(-50%) translateY(-50%) scale(0);
}

#color-picker label:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
}
#color-picker .radio:checked + label:after {
  background: transparent;
  transition: all 0.5s;
  transform: scale(1);
}
#color-picker input:checked + label:before {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: all 0.4s;
}
/**** BLUE ****/
#color-picker #radio-1 + label {
  background: var(--picker-blue-color);
}
/**** RED ****/
#color-picker #radio-2 + label {
  margin-left: 5px;
  background: var(--picker-red-color);
}
/**** YELLOW ****/
#color-picker #radio-3 + label {
  margin-left: 5px;
  background: var(--picker-yellow-color);
}
/**** GREEN ****/
#color-picker #radio-4 + label {
  margin-left: 5px;
  background: var(--picker-green-color);
}

.btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7effb;
}

.btn:hover {
  cursor: pointer;
  background-color: #dce4f1;
}

.btn-undo {
  background-color: #e7effb;
  margin: 0 0 0 5px;
}

.btn-undo:hover {
  background-color: #dce4f1;
}

.btn-erase {
  background-color: #e7effb;
  margin: 0 0 0 5px;
}

.btn-erase:hover {
  background-color: #dce4f1;
}

.separator {
  position: relative;
  height: 20px;
  width: 1px;
  margin: 0 5px 0 10px;
  background-color: #ccc;
}

.separator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 1px;
  height: 20px;
  background-color: #ececec;
}

/* ICONS */
.gg-undo {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 14px;
  border: 2px solid #4285f4;
  border-left-color: transparent;
  border-radius: 100px;
}

.gg-undo::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid #4285f4;
  border-left: 2px solid #4285f4;
  top: -3px;
  left: -1px;
  transform: rotate(-68deg);
}
/* Erase */
.gg-erase {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 18px;
}

.gg-erase::after,
.gg-erase::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-erase::before {
  width: 6px;
  height: 14px;
  border-bottom: 4px solid transparent;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #4285f4, inset 0 -2px 0 0 #4285f4;
  left: 7px;
  top: 2px;
  transform: rotate(45deg);
}

.gg-erase::after {
  background: #4285f4;
  width: 22px;
  height: 2px;
  bottom: 0;
  border-radius: 20px;
}
